RewriteEngine On

RewriteRule ^signup$ pages/signup/signup.php [NC,L]
RewriteRule ^signup/details$ pages/signup/details.php [NC,L]

RewriteRule ^login$ pages/login.php [NC,L]

RewriteRule ^tutor/dashboard$ pages/tutor/dashboard.php [NC,L]
RewriteRule ^tutor/courses$ pages/tutor/courses.php [NC,L]

RewriteRule ^courses/edit/$ pages/tutor/courses/edit.php?id= [NC,L]
RewriteRule ^courses/edit/(.*)$ pages/tutor/courses/edit.php?id=$1 [NC,L]

RewriteRule ^courses/create$ pages/tutor/courses/edit.php?id=-1 [NC,L]
RewriteRule ^courses/create/$ pages/tutor/courses/edit.php?id=-1 [NC,L]

RewriteRule ^section/add/$ pages/tutor/courses/addSection.php?id= [NC,L]
RewriteRule ^section/add/(.*)$ pages/tutor/courses/addSection.php?id=$1 [NC,L]

RewriteRule ^course/addLesson/([0-9]+)$ pages/tutor/courses/addLesson.php?section=$1 [NC,L]
RewriteRule ^course/editLesson/([0-9]+)$ pages/tutor/courses/editLesson.php?lesson=$1 [NC,L]

RewriteRule ^explore$ pages/explore.php [NC,L]
RewriteRule ^explore/$ page/explore.php [NC,L]

RewriteRule ^course/([0-9]+)$ pages/course.php?id=$1 [NC,L]
RewriteRule ^course/([0-9]+)/$ pages/course.php?id=$1 [NC,L]

RewriteRule ^tutor/updateInformation pages/tutor/editAccount.php [NC,L]
RewriteRule ^tutor/updateInformation/ pages/tutor/editAccount.php [NC,L]

RewriteRule ^takeCourse/([0-9]+)$ pages/helpers/takeCourse.php?id=$1 [NC,L]